/* ---------------------------- */
/*          RESPONSIVE          */
/* ---------------------------- */

.show-on-mobile{
  display: none !important;
}


@media (max-width: 1024px){
  .card-film{
    width: 50%;
  }

}

@media (max-width: 768px){
  .show-on-mobile{
    display: block !important;
  }
  .hide-on-mobile{
    display: none !important;
  }

  #page.fiche {
    .div-info{
      width: 100%;;
    }
  }

}