/* ---------------------------- */
/*    Propriétés générales      */
/* ---------------------------- */

*{ box-sizing: border-box;}

.container{
  max-width: $width-container;
  margin: 0 auto;
  width: 90%;
}

header nav ul,
.clean-ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.overlay{
  @extend .w100;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 100;
  height: 100%;
}

/* Largeurs générales*/
.w25{width: 25%;}
.w33{width: 33.333333%;}
.w50{width: 50%;}
.w66{width: 66.666666%;}
.w100, 
video{width: 100%;}
video{max-height: 100vh;}
.img-fluid{max-width: 100%;}

.mar-bot{margin-bottom: 1.5em;}
.mar-top{margin-top: 1.5em;}

/* ---------------------------- */
/*        POSITIONNEMENT        */
/* ---------------------------- */

.fl{
  float: left;
  margin-right: 2rem;
}
.fr{
  float: right;
  margin-left: 2rem;
}

.flex{
  display: flex;
}

.flex-center{
  @extend .flex;
  align-items: center;
  justify-content: space-between;
}

.colonnes{
  @extend .flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -$width-gutter/2;
  margin-right: -$width-gutter/2;
  li {
    list-style-type: none;
  }
}

.col-25{
  flex: 1 1 25%;
  padding: 0 $width-gutter/2;
}
.col-33{
  flex: 1 1 33.33333%;
  padding: 0 $width-gutter/2;
}
.col-50{
  flex: 1 1 50%;
  padding: 0 $width-gutter/2;
}
.col-66{
  flex: 1 1 66.66666%;
  padding: 0 $width-gutter/2;
}
.col-75{
  flex: 1 1 75%;
  padding: 0 $width-gutter/2;
}
